<script>
	// TODO: user management
</script>
<div class="content-wrapper" style="min-height: 963.655px;">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Users</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
	</section>
	<link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>
	<script type="text/javascript" src="/datatables/datatables.min.js"></script>
	<
</div>