<script>
	function apiForgotPassword() {
		var data = {};
		var form = $( '#forgotPassForm' );
		$.each( form.serializeArray(), function( i, obj ) { data[ obj.name ] = obj.value } );
		$.post( '', data, function( res ) {
			if(res.error) return alert(res.error);
			form.text('Reset link sent to your e-mail, please check your inbox or spam folder');
		} )
	}
</script>
<div class="login-box">
	<div class="login-logo">
		<a href="/">KI_PR</a>
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Request reset password link</p>
			<form id="forgotPassForm" action="" method="post" onsubmit="return false">
				<input type="hidden" name="a" value="forgot_password"/>
				<div class="input-group mb-3">
					<input type="email" name="email" class="form-control" placeholder="Email">
					<div class="input-group-append input-group-text">
						<span class="fas fa-envelope"></span>
					</div>
				</div>
				<!-- /.col -->
				<div class="col-12">
					<button type="submit" class="btn btn-primary btn-block btn-flat" onclick="apiForgotPassword()">Send Reset Password Link</button>
				</div>
			</form>
			<br/>
			<p class="mb-1">
				<a href="/guest/login" class="text-center">I remembered my password</a>
			</p>
			<p class="mb-0">
				<a href="/guest/register" class="text-center">Register a new membership</a>
			</p>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
<!-- /.login-box -->