<script>
	var affected = '#{affected}';
	var oauth_data = {/* oauth_data */ };
	var user = {/* user */ };
	var error = '#{error}';
	var sec = 2;
	
	$( document ).ready( function() {
		$( '#oauth_data' ).text( JSON.stringify( oauth_data, null, '  ' ) );
		$( '#user' ).text( JSON.stringify( user, null, '  ' ) );
		if( error ) alert( error );
		if( affected ) alert( 'account created, redirect in ' + sec + ' second' );
		setTimeout( function() {
			window.location.href = '/my/profile'
		}, sec * 1000 );
	} )
</script>
<div class="register-box">
	<div class="register-logo">
		<a href="/">KI_PR</a>
	</div>
	<div class="card">
		<div class="card-body register-card-body">
			<p class="login-box-msg">Login using Google</p>
			<h2>Oauth Data</h2>
			<pre id="oauth_data"></pre>
			<h2>User Data</h2>
			<pre id="user"></pre>
		</div>
		<!-- /.form-box -->
	</div><!-- /.card -->
</div>
<!-- /.register-box -->