<script>
	function apiLogin() {
		var data = {};
		var form = $( '#loginForm' );
		$.each( form.serializeArray(), function( i, obj ) { data[ obj.name ] = obj.value } );
		// TODO: validate form
		$.post( '', data, function( res ) {
			if(res.error) return alert(res.error);
			form.hide();
			window.location.href = '/';
		} )
	}
</script>
<div class="login-box">
	<div class="login-logo">
		<a href="/">KI_PR</a>
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form id="loginForm" action="" method="post" onsubmit="return false">
				<input type="hidden" name="a" value="login"/>
				<div class="input-group mb-3">
					<input type="email" name="email" class="form-control" placeholder="Email">
					<div class="input-group-append input-group-text">
						<span class="fas fa-envelope"></span>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="password" class="form-control" placeholder="Password">
					<div class="input-group-append input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
<!--						<div class="icheck-primary">-->
<!--							<input type="checkbox" id="remember">-->
<!--							<label for="remember">-->
<!--								Remember Me-->
<!--							</label>-->
<!--						</div>-->
					</div>
					<!-- /.col -->
					<div class="col-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat" onclick="apiLogin()">Sign In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<div class="social-auth-links text-center mb-3">
				<p>- OR -</p>
				<!--
				<a href="#" class="btn btn-block btn-primary">
				  <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
				</a>
				-->
				<a href="#{google_oauth_url}" class="btn btn-block btn-danger">
					<i class="fab fa-google-plus mr-2"></i> Sign in using GMail
				</a>
			</div>
			<!-- /.social-auth-links -->
			<p class="mb-1">
				<a href="/guest/forgot_password">I forgot my password</a>
			</p>
			<p class="mb-0">
				<a href="/guest/register" class="text-center">Register a new membership</a>
			</p>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
<!-- /.login-box -->