<script>
	function retypePass() {
		var p1 = $( '#pass1' ).val();
		var el = $( '#pass2' );
		var p2 = el.val();
		var mismatch = p1!==p2;
		$( '#submitBtn' ).prop( 'disabled', mismatch );
		el.toggleClass( 'is-invalid', mismatch );
	}
	
	function apiRegister() {
		var data = {};
		var form = $( '#registerForm' );
		$.each( form.serializeArray(), function( i, obj ) { data[ obj.name ] = obj.value } );
		// TODO: validate form
		$.post( '', data, function( res ) {
			if(res.error) return alert(res.error);
			form.hide();
			$('#regSuccess').show();
		} )
	}
</script>
<div class="register-box">
	<div class="register-logo">
		<a href="/">KI_PR</a>
	</div>
	<div class="card">
		<div class="card-body register-card-body">
			<p class="login-box-msg">Register a new membership</p>
			<form id="registerForm" action="" method="post" onsubmit="return false">
				<input type="hidden" name="a" value="register"/>
				<div class="input-group mb-3">
					<input type="text" name="full_name" class="form-control" placeholder="Full name">
					<div class="input-group-append input-group-text">
						<span class="fas fa-user"></span>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="email" name="email" class="form-control" placeholder="Email">
					<div class="input-group-append input-group-text">
						<span class="fas fa-envelope"></span>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="pass" id="pass1" class="form-control" placeholder="Password" onkeyup="retypePass()">
					<div class="input-group-append input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" id="pass2" class="form-control" placeholder="Retype password" onkeyup="retypePass()">
					<div class="input-group-append input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<!--            <div class="icheck-primary">-->
						<!--              <input type="checkbox" id="agreeTerms" name="terms" value="agree">-->
						<!--              <label for="agreeTerms">-->
						<!--               I agree to the <a href="#">terms</a>-->
						<!--              </label>-->
						<!--            </div>-->
					</div>
					<!-- /.col -->
					<div class="col-4">
						<button type="submit" id="submitBtn" class="btn btn-primary btn-block btn-flat" onclick="apiRegister()">Register</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<div id="regSuccess" style="display: none">
				<p>Registration successful, please check your e-mail for verification link, or </p>
				<a href="/my/profile" class="text-center">click here to fill your profile information</a>
			</div>
			<div class="social-auth-links text-center">
				<p>- OR -</p>
				<!-- <a href="#" class="btn btn-block btn-primary">
				  <i class="fab fa-facebook mr-2"></i>
				  Sign up using Facebook
				</a>
				-->
				<a href="#{google_oauth_url}" class="btn btn-block btn-danger">
					<i class="fab fa-google-plus mr-2"></i>
					Sign up using GMail
				</a>
			</div>
			<a href="/guest/login" class="text-center">I already have a membership</a>
		</div>
		<!-- /.form-box -->
	</div><!-- /.card -->
</div>
<!-- /.register-box -->