<script>
	function retypePass() {
		var p1 = $( '#pass1' ).val();
		var el = $( '#pass2' );
		var p2 = el.val();
		var mismatch = p1!==p2;
		$( '#submitBtn' ).prop( 'disabled', mismatch );
		el.toggleClass( 'is-invalid', mismatch );
	}
	
	function apiResetPassword() {
		var data = {};
		var form = $( '#resetPassForm' );
		$.each( form.serializeArray(), function( i, obj ) { data[ obj.name ] = obj.value } );
		$.post( '', data, function( res ) {
			if(res.error) return alert(res.error);
			alert('Password changed');
			window.location.href = '/';
		} )
	}
</script>
<div class="register-box">
	<div class="register-logo">
		<a href="/">KI_PR</a>
	</div>
	<div class="card">
		<div class="card-body register-card-body">
			<p class="login-box-msg">Reset password</p>
			<form id="resetPassForm" action="" method="post" onsubmit="return false;">
				<input type="hidden" name="a" value="reset_password"/>
				<div class="input-group mb-3">
					<input type="password" name="pass" id="pass1" class="form-control" placeholder="New Password" onkeyup="retypePass()">
					<div class="input-group-append input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" id="pass2" class="form-control" placeholder="Retype password" onkeyup="retypePass()">
					<div class="input-group-append input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
				<div class="row">
					<!-- /.col -->
					<div class="col-12">
						<button id="submitBtn" type="submit" class="btn btn-primary btn-block btn-flat" onclick="apiResetPassword()">Reset Password</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>
		<!-- /.form-box -->
	</div><!-- /.card -->
</div>
<!-- /.register-box -->