<script>
	var user = {/* user */};
	
	function refreshUI() {
		for( var k in user ) {
			if( !user.hasOwnProperty( k ) || k==='password' ) continue;
			var v = user[ k ];
			$( '#' + k ).val( v );
		}
		canVerifyEmail();
	}
	
	function canVerifyEmail() {
		var changed = $('#email').val() != user.email;
		var block = user.verified_at || changed;
		var state = block ? 'hide' : 'show';
		var el = $('#requestVerificationLink');
		el[state]();
		el.prop('disabled', block);
	}
	
	function retypePass() {
		var p1 = $( '#pass1' ).val();
		var el = $( '#pass2' );
		var p2 = el.val();
		var mismatch = p1!==p2;
		$( '#submitBtn' ).prop( 'disabled', mismatch );
		el.toggleClass( 'is-invalid', mismatch );
	}
	
	function initMap() {
		
	}
	
	function fetchPlacesApi() {
		
	}
	
	function apiResendVerificationEmail() {
		$.post('', {a:'resend_verification_email'},function(res) {
			if( res.error ) return alert( res.error );
			alert('verification e-mail delivered, please check your e-mail or spam folder')
		})
	}
	
	function apiUpdateProfile() {
		var data = {};
		var form = $( '#profileForm' );
		$.each( form.serializeArray(), function( i, obj ) { data[ obj.name ] = obj.value } );
		$.post( '', data, function( res ) {
			if( res.error ) return alert( res.error );
			user = res.user;
			alert('data updated');
			refreshUI();
		} )
	}
	
	function apiMyInfo() {
		$.post( '', {a:'my_info'}, function( res ) {
			if( res.error ) return alert( res.error );
			user = res.user;
			refreshUI();
		} )
	}
	
	$(document).ready(refreshUI);
</script>
<div class="content-wrapper" style="min-height: 963.655px;">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Update profile</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<form action="" method="post" id="profileForm" onsubmit="return false">
			<input type="hidden" name="a" value="update_profile"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">Basic Information</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="form-group">
									<label for="full_name">Full Name</label>
									<input name="full_name" class="form-control" id="full_name" placeholder="full name">
								</div>
								<div class="form-group">
									<label for="phone">Phone</label>
									<input name="phone" class="form-control" id="phone" placeholder="phone">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" onkeyup="canVerifyEmail()">
									<input type="button" class="btn btn-small btn-secondary" onclick="apiResendVerificationEmail()" style="display:none" id="requestVerificationLink"
									       value="Resend verification e-mail">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">Location</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="form-group">
									<label for="address">Address</label>
									<div id="locationField">
										<input name="address" class="form-control" id="address" placeholder="address" onkeyup="fetchPlacesApi()">
									</div>
								</div>
								<input type="hidden" name="latitude"/>
								<input type="hidden" name="longitude"/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Authentication</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="form-group">
								<label for="pass1">Change Password</label>
								<input type="password"
								       name="password"
								       class="form-control"
								       id="pass1"
								       placeholder="Leave empty if you don't want to change password"
								       onkeyup="retypePass()">
								<label for="pass2">Retype New Password</label>
								<input type="password" class="form-control" id="pass2" placeholder="retype new password" onkeyup="retypePass()">
							</div>
						</div>
						<!-- /.card-body -->
						<div class="card-footer">
							<div class="form-group">
								<label for="exampleInputPassword1">Retype Old Password</label>
								<input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="changing email/password requires old password">
							</div>
							<button type="submit" id="submitBtn" class="btn btn-primary" onclick="apiUpdateProfile()">Update Profile</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>