<li class="nav-header">GUEST</li>
<li class="nav-item">
	<a href="/guest/register" class="nav-link">
		<i class="nav-icon far fa-circle text-danger"></i>
		<p class="text">Register</p>
	</a>
</li>
<li class="nav-item">
	<a href="/guest/login" class="nav-link">
		<i class="nav-icon far fa-circle text-warning"></i>
		<p>Login</p>
	</a>
</li>
<li class="nav-item">
	<a href="/guest/forgot_password" class="nav-link">
		<i class="nav-icon far fa-circle text-info"></i>
		<p>Forgot Password</p>
	</a>
</li>