<li class="nav-header">MY</li>
<li class="nav-item">
	<a href="/my/profile" class="nav-link">
		<i class="nav-icon far fa-circle text-danger"></i>
		<p class="text">Profile</p>
	</a>
</li>
<li class="nav-item">
	<a href="/my/logout" class="nav-link">
		<i class="nav-icon far fa-circle text-warning"></i>
		<p>Logout</p>
	</a>
</li>