<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>403 Error Page</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active">403 Error Page</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="error-page">
			<h2 class="headline text-warning"> 403</h2>
			<div class="error-content">
				<h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Require higher role/privilege to access this page.</h3>
				<p>
					We could give you access to this page.
					You may <a href="/">return to homepage</a> or <a href="#" onclick="window.history.back()">return to previous page</a>
					<pre>#{error_detail}</pre>
				</p>
			</div>
			<!-- /.error-content -->
		</div>
		<!-- /.error-page -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

